.ob-hover {  
    position: relative;  
    display: inline-block;  
  }  
    
  .ob-hover img {  
    display: block;  
    width: 100%;  
    height: auto;  
  }  
    
  .links-container {  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background: rgba(0, 0, 0, 0.5); /* 半透明背景 */  
    color: white;  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    opacity: 0;  
    visibility: hidden;  
    transition: opacity 0.3s ease, visibility 0s 0.3s;  
    pointer-events: none;  
  }  
    
  .ob-hover:hover .links-container {  
    opacity: 1;  
    visibility: visible;  
    pointer-events: auto;  
    transition-delay: 0s; /* 移除过渡延迟，以便立即显示 */  
  }  
    
  .links-container a {  
    color: white;  
    text-decoration: none;  
    margin: 5px 0; /* 链接之间的间距 */  
  }