:root {
    line-height: 1.3;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --black: #000;
    --white: #fff;
    --near-black: #1c1c1c;
    --dark-gray: #454545;
    --mid-gray: #6e6e6e;
    --moon-gray: #c4c4c4;
    --light-gray: #e2e2e2;
    --near-white: #f5f5f5;
    --gray: #929292;
    --silver: #e8e8e8;
    --light-silver: #efefef;
    --transparent: transparent;
    --black-90: #16191d;
    --black-80: #2c313a;
    --black-70: #434a56;
    --black-60: #596373;
    --black-50: #6f7c90;
    --black-40: #8c96a6;
    --black-30: #a9b0bc;
    --black-20: #c5cad3;
    --black-10: #e2e5e9;
    --black-05: rgba(0, 0, 0, 0.05);
    --black-025: rgba(0, 0, 0, 0.025);
    --black-0125: rgba(0, 0, 0, 0.013);
    --white-90: hsla(0, 0%, 100%, 0.9);
    --white-80: hsla(0, 0%, 100%, 0.8);
    --white-70: hsla(0, 0%, 100%, 0.7);
    --white-60: hsla(0, 0%, 100%, 0.6);
    --white-50: hsla(0, 0%, 100%, 0.5);
    --white-40: hsla(0, 0%, 100%, 0.4);
    --white-30: hsla(0, 0%, 100%, 0.3);
    --white-20: hsla(0, 0%, 100%, 0.2);
    --white-10: hsla(0, 0%, 100%, 0.1);
    --white-05: hsla(0, 0%, 100%, 0.05);
    --white-025: hsla(0, 0%, 100%, 0.025);
    --white-0125: hsla(0, 0%, 100%, 0.013);
    --dark-red: #d14040;
    --red: #e14747;
    --light-red: #e84e4e;
    --lightest-red: #ffcece;
    --washed-red: #feefef;
    --orange: #ff6300;
    --gold: #d39817;
    --yellow: #eac13b;
    --light-yellow: #ebc855;
    --lightest-yellow: #f6edcc;
    --washed-yellow: #fbf9f1;
    --purple: #5e2ca5;
    --light-purple: #a463f2;
    --dark-pink: #d5008f;
    --hot-pink: #ff41b4;
    --pink: #ff80cc;
    --light-pink: #ffa3d7;
    --dark-green: #257d54;
    --green: #2f9666;
    --light-green: #38a070;
    --lightest-green: #c5e4d6;
    --washed-green: #ecfbf5;
    --navy: #001b44;
    --dark-blue: #2b50b0;
    --blue: #3b5fc0;
    --light-blue: #4269d0;
    --lightest-blue: #6384dd;
    --washed-blue: #97bbf4;
    --faint-blue: #dae4ff;

    --start-offset: 100vw;
}
* {
    box-sizing: border-box;
}

#danmu__container {
    position: relative;
    width: 100%;
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-color: var(--white-90);
    overflow: hidden;
    grid-column: 2;
}

.danmu__text {
    position: absolute;
    white-space: nowrap;
    font-weight: bold;
    color: #ffffff;
    animation: moveDanmu 3s linear forwards;
}

@keyframes moveDanmu {
    from {
        transform: translateX(calc(100% + 100vw));
    }
    to {
        transform: translateX(-100%);
    }
}
