<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./style_min.css" />
        <title>navbar</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar relative">
                <div class="navbar__root">
                    <div class="navbar__firstelem">
                        <a class="navbar__leftlogo" href="/">
                            <img
                                src="./icon/logo.svg"
                                alt="Observable"
                                class="near-black"
                            />
                        </a>
                        <div class="navbar__leftelemframe">
                            <div>
                                <button
                                    aria-haspopup="true"
                                    aria-controls="menu--:r4:"
                                    class="navbar__elembotton"
                                    id="menu-button--menu--:r4:"
                                    type="button"
                                    data-reach-menu-button=""
                                >
                                    Product
                                    <img
                                        src="./icon/dropdown-icon.svg"
                                        class="navbar__icon"
                                        alt="Dropdown"
                                    />
                                </button>
                            </div>
                        </div>
                        <div class="navbar__leftelemframe">
                            <div>
                                <button
                                    aria-haspopup="true"
                                    aria-controls="menu--:r5:"
                                    class="navbar__elembotton"
                                    id="menu-button--menu--:r5:"
                                    type="button"
                                    data-reach-menu-button=""
                                >
                                    Learn
                                    <img
                                        src="./icon/dropdown-icon.svg"
                                        width="10"
                                        height="16"
                                        class="navbar__icon"
                                        alt="Dropdown"
                                    />
                                </button>
                            </div>
                        </div>
                        <div class="navbar__leftelemframe">
                            <div>
                                <button
                                    aria-haspopup="true"
                                    aria-controls="menu--:r6:"
                                    class="navbar__elembotton"
                                    id="menu-button--menu--:r6:"
                                    type="button"
                                    data-reach-menu-button=""
                                >
                                    Community
                                    <img
                                        src="./icon/dropdown-icon.svg"
                                        width="10"
                                        height="16"
                                        class="navbar__icon"
                                        alt="Dropdown"
                                    />
                                </button>
                            </div>
                        </div>
                        <div class="navbar__leftelemframe">
                            <div>
                                <button
                                    aria-haspopup="true"
                                    aria-controls="menu--:r7:"
                                    class="navbar__elembotton"
                                    id="menu-button--menu--:r7:"
                                    type="button"
                                    data-reach-menu-button=""
                                >
                                    <a
                                        class="navbar__linkbotton"
                                        href="/pricing"
                                        >Pricing</a
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="navbar__rightelemframe">
                        <button
                            class="navbar__searchbotton"
                            data-testid="search-button"
                        >
                            <img
                                src="./icon/search-icon.svg"
                                width="16"
                                height="16"
                                class="navbar__iconright"
                                alt="Search"
                            />Search
                        </button>
                        <button class="navbar__signinbotton">Sign in</button>
                        <button class="navbar__signbotton">Sign up</button>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>
