:root {
    --monospace: Menlo, Consolas, monospace;
    --monospace-font: 14px/1.5 var(--monospace);
    --observable-focus-lightest-blue: #f1f6fb;
    --observable-focus-light-blue: #e7eff8;
    --observable-focus-blue: #adc5df;
    --observable-focus-dark-blue: #6994c0;
    --observable-focus-darker-blue: #516e8c;
    --observable-blue: #5061a6;
    --observable-faint-blue: #dae4ff;
    --observable-marketing-blue: #4269d0;
    --observable-washed-blue: #97bbf4;
    --observable-blue-light: #596ab0;
    --observable-navy: #353e58;
    --observable-red: #e7040f;
    --observable-pink-dark: #c65d7b;
    --observable-pink: #ca6c87;
    --observable-pink-light: #e7c0cb;
    --observable-light-green: #38a070;
    --observable-mid-gray: #6e6e6e;
    --observable-lightest-gray: #fcfbfc;
    --observable-yellow: #ffe387;
    --observable-orange: #ffc499;
    --observable-green: #bedcda;
    --observable-green-dark: #2f4746;
    --observable-lightest-purple: #e4d3fd;
    --observable-light-purple: #f4ecff;
    --observable-purple: #7e47bf;
    --observable-washed-green: #e4f8f0;
    --observable-dark-gold: #bd860d;
    --observable-goldenrod: #f4bc4b;
    --observable-coral: #ff725c;
    --observable-sponge: #d75c48;
    --observable-cool-gray: #f4f7ff;
    --observable-mid-purple: #a463f2;
    --observable-mint-chip: #52dbaa;
    --observable-charcoal-gray: #282828;
    --observable-almost-white: #fafafa;
    --observable-graphite-gray: #373737;
    --manila: #f8f1e7;
    --reach-tooltip: 1;
    --translucent-pink: rgba(255,189,226,.5);
    --translucent-purple: rgba(212,176,255,.5);
    --translucent-green: rgba(160,231,199,.5);
    --translucent-orange: hsla(23,94%,81%,.5);
    --translucent-blue: rgba(182,201,252,.5);
    --translucent-gold: hsla(42,88%,76%,.5);
    --presence-avatar-size: 14px;
    --checkerboard: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 20 20' style='background-color: white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h10v10H0zm10 10h10v10H10z' fill='%23f4f4f4' fill-rule='evenodd'/%3E%3C/svg%3E");
    --max-width-page: 76rem;
    --line-height-f1: 3.5rem;
    --line-height-f2: 2.5rem;
    --line-height-f3: 2rem;
    --line-height-f4: 1.75rem;
    --line-height-f5: 1.5rem;
    --line-height-f6: 1.25rem;
    --line-height-f7: 1rem;
    --line-height-default: 1.15;
    --syntax-normal: #1b1e23;
    --syntax-comment: #828282;
    --syntax-diff: #24292e;
    --syntax-diff-bg: #fff;
    --syntax-number: #20a5ba;
    --syntax-keyword: #c30771;
    --syntax-atom: #10a778;
    --syntax-string: #008ec4;
    --syntax-error: #ffbedc;
    --syntax-unknown-variable: #838383;
    --syntax-known-variable: #005f87;
    --syntax-matchbracket: #20bbfc;
    --syntax-key: #6636b4;
    --sans-serif: -apple-system,BlinkMacSystemFont,"avenir next",avenir,helvetica,"helvetica neue",ubuntu,roboto,noto,"segoe ui",arial,sans-serif;
    --serif: "Source Serif Pro",Iowan Old Style,Apple Garamond,Palatino Linotype,Times New Roman,"Droid Serif",Times,serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    --code: SFMono-Regular,Menlo,Consolas,Monaco,"Liberation Mono","Courier New",monospace;
    --font-size-headline: 6rem;
    --font-size-subheadline: 5rem;
    --font-size-1: 3rem;
    --font-size-2: 2.25rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1.25rem;
    --font-size-5: 1rem;
    --font-size-6: .875rem;
    --font-size-7: .75rem;
    --letter-spacing-tight: -.05em;
    --letter-spacing-1: .1em;
    --letter-spacing-2: .25em;
    --line-height-solid: 1;
    --line-height-title: 1.25;
    --line-height-copy: 1.5;
    --measure: 30em;
    --measure-narrow: 20em;
    --measure-wide: 34em;
    --spacing-none: 0;
    --spacing-extra-small: .25rem;
    --spacing-small: .5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-extra-large: 4rem;
    --spacing-extra-extra-large: 8rem;
    --spacing-extra-extra-extra-large: 16rem;
    --height-1: 1rem;
    --height-2: 2rem;
    --height-3: 4rem;
    --height-4: 8rem;
    --height-5: 16rem;
    --width-1: 1rem;
    --width-2: 2rem;
    --width-3: 4rem;
    --width-4: 8rem;
    --width-5: 16rem;
    --max-width-1: 1rem;
    --max-width-2: 2rem;
    --max-width-3: 4rem;
    --max-width-4: 8rem;
    --max-width-5: 16rem;
    --max-width-6: 32rem;
    --max-width-7: 48rem;
    --max-width-8: 64rem;
    --max-width-9: 96rem;
    --border-radius-none: 0;
    --border-radius-1: .125rem;
    --border-radius-2: .25rem;
    --border-radius-3: .5rem;
    --border-radius-4: 1rem;
    --border-radius-circle: 100%;
    --border-radius-pill: 9999px;
    --border-width-none: 0;
    --border-width-1: .125rem;
    --border-width-2: .25rem;
    --border-width-3: .5rem;
    --border-width-4: 1rem;
    --border-width-5: 2rem;
    --box-shadow-1: 0 0 8px 1px rgba(0,0,0,.1);
    --box-shadow-2: 0 0 12px 0 rgba(0,0,0,.1);
    --box-shadow-3: 0 2px 8px 2px rgba(0,0,0,.2);
    --box-shadow-4: 0 2px 12px 0 rgba(0,0,0,.2);
    --box-shadow-5: 0 4px 12px 0 rgba(0,0,0,.2);
    --black: #000;
    --white: #fff;
    --near-black: #1c1c1c;
    --dark-gray: #454545;
    --mid-gray: #6e6e6e;
    --moon-gray: #c4c4c4;
    --light-gray: #e2e2e2;
    --near-white: #f5f5f5;
    --gray: #929292;
    --silver: #e8e8e8;
    --light-silver: #efefef;
    --transparent: transparent;
    --black-90: #16191d;
    --black-80: #2c313a;
    --black-70: #434a56;
    --black-60: #596373;
    --black-50: #6f7c90;
    --black-40: #8c96a6;
    --black-30: #a9b0bc;
    --black-20: #c5cad3;
    --black-10: #e2e5e9;
    --black-05: rgba(0,0,0,.05);
    --black-025: rgba(0,0,0,.025);
    --black-0125: rgba(0,0,0,.013);
    --white-90: hsla(0,0%,100%,.9);
    --white-80: hsla(0,0%,100%,.8);
    --white-70: hsla(0,0%,100%,.7);
    --white-60: hsla(0,0%,100%,.6);
    --white-50: hsla(0,0%,100%,.5);
    --white-40: hsla(0,0%,100%,.4);
    --white-30: hsla(0,0%,100%,.3);
    --white-20: hsla(0,0%,100%,.2);
    --white-10: hsla(0,0%,100%,.1);
    --white-05: hsla(0,0%,100%,.05);
    --white-025: hsla(0,0%,100%,.025);
    --white-0125: hsla(0,0%,100%,.013);
    --dark-red: #d14040;
    --red: #e14747;
    --light-red: #e84e4e;
    --lightest-red: #ffcece;
    --washed-red: #feefef;
    --orange: #ff6300;
    --gold: #d39817;
    --yellow: #eac13b;
    --light-yellow: #ebc855;
    --lightest-yellow: #f6edcc;
    --washed-yellow: #fbf9f1;
    --purple: #5e2ca5;
    --light-purple: #a463f2;
    --dark-pink: #d5008f;
    --hot-pink: #ff41b4;
    --pink: #ff80cc;
    --light-pink: #ffa3d7;
    --dark-green: #257d54;
    --green: #2f9666;
    --light-green: #38a070;
    --lightest-green: #c5e4d6;
    --washed-green: #ecfbf5;
    --navy: #001b44;
    --dark-blue: #2b50b0;
    --blue: #3b5fc0;
    --light-blue: #4269d0;
    --lightest-blue: #6384dd;
    --washed-blue: #97bbf4;
    --faint-blue: #dae4ff;
}
button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.navbar {
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    font-size: var(--font-size-6);
    font-size: var(--font-size-5);
    background-color: var(--white);
}
.navbar_root {
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    font-size: var(--font-size-6);
    font-size: var(--font-size-5);
    background-color: var(--white);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
    margin-left: auto;
    border-color: var(--light-silver);
}

.relative {
    position: relative;
}
.navbar_firstelem {
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    font-size: var(--font-size-6);
    font-size: var(--font-size-5);
    background-color: var(--white);
    display: flex;
    position: relative;
    align-items: center;
}
.navbar_leftlogo {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--near-black);
}
.navbar_leftelemframe {
    display:flex;
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    z-index: 5;
    font-size: var(--font-size-6);
    font-size: var(--font-size-5);
    background-color: var(--white);
    margin-left: var(--spacing-small);
}
.navbar_elembotton {
    display: flex;
    font-weight: 600;
    padding: var(--spacing-none);
    background-color: var(--transparent);
    border-style: none;
    border-width: 0;
    padding: var(--spacing-small);
    display: block;
    border-radius: var(--border-radius-2);
    align-items: center;
    color: var(--dark-gray);
}
.navbar_rightelemframe {
    color: var(--near-black);
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-right: var(--spacing-large);
    z-index: 5;
    display: flex;
    align-items: center;
    font-size: var(--font-size-6);
    font-size: var(--font-size-5);
    background-color: var(--white);
}
.navbar_searchbotton {
    display: flex;
    align-items: center;
    border-style: none;
    border-width: 0;
    background-color: var(--transparent);
    font-weight: 600;
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
    padding-top: var(--spacing-none);
    padding-bottom: var(--spacing-none);
    margin-right: 4px;
    color: var(--mid-gray);
}
.navbar_signinbotton {
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    min-width: 92px;
    margin-right: 4px;
    font-weight: 600;
    border-radius: var(--border-radius-2);
    border-style: solid;
    border-width: 1px;
    position: relative;
    padding: var(--spacing-small);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s cubic-bezier(.785,.135,.15,.86);
    transition-property: background-color, color, box-shadow;
    color: var(--dark-gray);
    background-color: var(--transparent);
    border-color: var(--transparent);
}
.navbar_signbotton {
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    min-width: 92px;
    margin-right: 4px;
    font-weight: 600;
    border-radius: var(--border-radius-2);
    border-style: solid;
    border-width: 1px;
    position: relative;
    padding: var(--spacing-small);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s cubic-bezier(.785,.135,.15,.86);
    transition-property: background-color, color, box-shadow;
    color: var(--white);
    background-color: var(--near-black);
    border-color: var(--near-black);
}
.navbar_linkbotton {
    padding: var(--spacing-small);
    display: block;
    border-radius: var(--border-radius-2);
    font-weight: 600;
    display: flex;
    align-items: center;
    color: var(--dark-gray);
}
.navbar_icon {
    margin-left: var(--spacing-small);
}
.navbar_iconright {
    margin-right: var(--spacing-small);
}