---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Grid from "../components/Grid.astro";
import TaylorApprox from "../components/gallery/TaylorApprox.astro";
import BallSimulation from "../components/gallery/BallSimulation.astro";
import FooterLink from "../components/FooterLink.astro";
---
<Layout title="主页">
    <header>
        <h1>动态页面临时仓库</h1>
        <Navbar />
    </header>
    <main>
      <article>
        <!-- <section>
            <TaylorApprox />
        </section> -->
        <section>
            <BallSimulation />
        </section>
      </article>
    </main>
    <footer>
      <FooterLink />
    </footer>
  </Layout>