---

---

<div class="danmaku"></div>

<script>
  const colors = {
    black: "#000",
    white: "#fff",
    nearBlack: "#1c1c1c",
    darkGray: "#454545",
    midGray: "#6e6e6e",
    moonGray: "#c4c4c4",
    lightGray: "#e2e2e2",
    nearWhite: "#f5f5f5",
    gray: "#929292",
    silver: "#e8e8e8",
    lightSilver: "#efefef",
    transparent: "transparent",
    black90: "#16191d",
    black80: "#2c313a",
    black70: "#434a56",
    black60: "#596373",
    black50: "#6f7c90",
    black40: "#8c96a6",
    black30: "#a9b0bc",
    black20: "#c5cad3",
    black10: "#e2e5e9",
    black05: "rgba(0, 0, 0, 0.05)",
    black025: "rgba(0, 0, 0, 0.025)",
    black0125: "rgba(0, 0, 0, 0.013)",
    white90: "hsla(0, 0%, 100%, 0.9)",
    white80: "hsla(0, 0%, 100%, 0.8)",
    white70: "hsla(0, 0%, 100%, 0.7)",
    white60: "hsla(0, 0%, 100%, 0.6)",
    white50: "hsla(0, 0%, 100%, 0.5)",
    white40: "hsla(0, 0%, 100%, 0.4)",
    white30: "hsla(0, 0%, 100%, 0.3)",
    white20: "hsla(0, 0%, 100%, 0.2)",
    white10: "hsla(0, 0%, 100%, 0.1)",
    white05: "hsla(0, 0%, 100%, 0.05)",
    white025: "hsla(0, 0%, 100%, 0.025)",
    white0125: "hsla(0, 0%, 100%, 0.013)",
    darkRed: "#d14040",
    red: "#e14747",
    lightRed: "#e84e4e",
    lightestRed: "#ffcece",
    washedRed: "#feefef",
    orange: "#ff6300",
    gold: "#d39817",
    yellow: "#eac13b",
    lightYellow: "#ebc855",
    lightestYellow: "#f6edcc",
    washedYellow: "#fbf9f1",
    purple: "#5e2ca5",
    lightPurple: "#a463f2",
    darkPink: "#d5008f",
    hotPink: "#ff41b4",
    pink: "#ff80cc",
    lightPink: "#ffa3d7",
    darkGreen: "#257d54",
    green: "#2f9666",
    lightGreen: "#38a070",
    lightestGreen: "#c5e4d6",
    washedGreen: "#ecfbf5",
    navy: "#001b44",
    darkBlue: "#2b50b0",
    blue: "#3b5fc0",
    lightBlue: "#4269d0",
    lightestBlue: "#6384dd",
    washedBlue: "#97bbf4",
    faintBlue: "#dae4ff",
  };

  function generateRandomBlueHues() {
    const hue = Math.floor(Math.random() * (240 - 210 + 1)) + 210;
    const saturation = Math.floor(Math.random() * 50) + 50;
    const lightness = Math.floor(Math.random() * 70) + 30;
    return `hsl(${hue}, ${saturation}%, ${lightness}%)`;
  }

  const danmakuTexts = [
    "欢迎来到未央科协！",
    "这是一个测试弹幕！",
    "Hello World!",
    "这是一份像社团的社工，一个是社工的社团!",
    "加入科协，收获爱情！",
  ];

  function createdanmaku(container: HTMLDivElement, text: string) {
    const danmaku = document.createElement("div");
    danmaku.textContent = text;
    danmaku.className = "danmaku__text";
    danmaku.style.color = generateRandomBlueHues();
    const width = Math.min(window.innerWidth, 120 * 8);
    const size = Math.random() + 1;
    danmaku.style.animationDuration = size * (width / 300) + "s";
    danmaku.style.fontSize = 30 / size + "px";
    danmaku.style.zIndex = `${size * 100}`;
    danmaku.style.top =
      Math.random() * (container.offsetHeight - 30) + 15 + "px";
    container.appendChild(danmaku);

    danmaku.addEventListener("animationend", function () {
      danmaku.remove();
    });
  }

  function startdanmakuStream(container: HTMLDivElement, interval: number) {
    let start = 0;
    function loop(now: number) {
      const elapsed = now - start;
      if (elapsed > interval) {
        const text =
          danmakuTexts[Math.floor(Math.random() * danmakuTexts.length)];
        createdanmaku(container, text);
        start = now;
      }
      requestAnimationFrame(loop);
    }
    requestAnimationFrame(loop);
  }

  const containers: NodeListOf<HTMLDivElement> =
    document.querySelectorAll(".danmaku");
  console.log(containers);
  containers.forEach((container) => {
    startdanmakuStream(container, 400);
  });
</script>

<style>
  .danmaku {
    min-height: 300px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    width: 100%;
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-color: var(--faint-blue);
    overflow: hidden;
    grid-column: 2;
  }
</style>

<style is:global>
  .danmaku__text {
    position: absolute;
    white-space: nowrap;
    font-weight: bold;
    color: #ffffff;
    user-select: none;
    animation: movedanmaku 3s linear forwards;
  }

  @keyframes movedanmaku {
    from {
      transform: translateX(calc(100% + min(120ch, 100vw)));
    }
    to {
      transform: translateX(-100%);
    }
  }
</style>
