---
import { Image } from "astro:assets";
import Grid from "../Grid.astro";
import info from "./images/icons/lighthouse.svg";
import forum from "./images/icons/map.svg";
import tutorials from "./images/icons/compass.svg";
import todo from "./images/icons/plane.svg";
---

<Grid width="15em" gap="1.25rem">
  <div class="item">
    <a href="/info">
      <Image src={info} alt="资讯" />
    </a>
    <div>
      <a class="text" href="/info">资讯(建造大致完成)</a>
    </div>
  </div>
  <div class="item">
    <a href="/gallery">
      <Image src={forum} alt="展览" />
    </a>
    <div>
      <a class="text" href="/gallery">展览</a>
    </div>
  </div>
  <div class="item">
    <a href="#" onclick="displayAlert()">
      <Image src={tutorials} alt="教程" />
    </a>
    <div>
      <a class="text" href="#" onclick="displayAlert()">教程</a>
    </div>
  </div>
  <div class="item">
    <a href="#" onclick="displayAlert()">
      <Image src={todo} alt="待建" />
    </a>
    <div>
      <a class="text" href="#" onclick="displayAlert()">待建</a>
    </div>
  </div>
</Grid>

<script>
  function displayAlert() {
    alert("建造中...前方的区域以后再来探索吧！");
    return false; // Prevent the default action of the link
  }
</script>

<style>
  .text {
    font-family: Heiti;
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--near-black);
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
  }
  .text:hover {
    color: gray;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }

  .item > a {
    display: block;
    width: 100%;
  }
  .item > a > img {
    width: 100%;
    aspect-ratio: 8 / 5;
    border-radius: 0.25rem;
    border-color: var(--silver);
    border-width: 1px;
    border-style: solid;
    object-fit: cover;
    transition:
      box-shadow 0.15s ease,
      transform 0.15s ease;
    will-change: transform;
  }
  .item > a > img:hover .item > a > img {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);
  }

  .item > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
</style>
