---
import { Image } from 'astro:assets';

interface Props {
  src: ImageMetadata;
  alt: string;
  placeText: "left" | "right";
}
const { src, alt, placeText } = Astro.props;
---

<div class="showcase">
  { placeText == "left" ? <slot/> : [] }
  <Image src={src} alt={alt} />
  { placeText == "right" ? <slot/> : [] }
</div>

<style>
  .showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .showcase :global(h1) {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
    font-family: microsoft yahei;
    display: flex;
    flex-wrap: wrap;
  }
    
  .showcase :global(div) {
    max-width: 50%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
  }

  .showcase img {
    max-width: 50%;
    width: auto;
    height: auto;
    margin-right: 30px;
    margin-left: 40px;
    border-radius: 20px; /* Add rounded corners */
    transition: transform 0.3s ease; /* Add a transition effect */
    object-fit: cover; /* do not stretch */
  }

  .showcase img:hover {
    transform: scale(1.1); /* Scale the image up */
  }

  @media screen and (max-width: 600px) {
    .showcase {
      flex-direction: column;
    }
    .showcase img, .showcase :global(div) {
      max-width: 100%;
      margin: 0;
      margin-top: 15px;
    }
  }
</style>
