---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-Hans">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		line-height: 1.3;
		font-weight: 400;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		--sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
			helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
			sans-serif;
		--serif: "Source Serif Pro", Iowan Old Style, Apple Garamond,
			Palatino Linotype, Times New Roman, "Droid Serif", Times, serif,
			Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
		--code: SFMono-Regular, Menlo, Consolas, Monaco, "Liberation Mono",
			"Courier New", monospace;
		--font-size-headline: 6rem;
		--font-size-subheadline: 5rem;
		--font-size-1: 3rem;
		--font-size-2: 2.25rem;
		--font-size-3: 1.5rem;
		--font-size-4: 1.25rem;
		--font-size-5: 1rem;
		--font-size-6: 0.875rem;
		--font-size-7: 0.75rem;
		--letter-spacing-tight: -0.05em;
		--letter-spacing-1: 0.1em;
		--letter-spacing-2: 0.25em;
		--line-height-solid: 1;
		--line-height-title: 1.25;
		--line-height-copy: 1.5;
		--measure: 30em;
		--measure-narrow: 20em;
		--measure-wide: 34em;
		--spacing-none: 0;
		--spacing-extra-small: 0.25rem;
		--spacing-small: 0.5rem;
		--spacing-medium: 1rem;
		--spacing-large: 2rem;
		--spacing-extra-large: 4rem;
		--spacing-extra-extra-large: 8rem;
		--spacing-extra-extra-extra-large: 16rem;
		--height-1: 1rem;
		--height-2: 2rem;
		--height-3: 4rem;
		--height-4: 8rem;
		--height-5: 16rem;
		--width-1: 1rem;
		--width-2: 2rem;
		--width-3: 4rem;
		--width-4: 8rem;
		--width-5: 16rem;
		--max-width-1: 1rem;
		--max-width-2: 2rem;
		--max-width-3: 4rem;
		--max-width-4: 8rem;
		--max-width-5: 16rem;
		--max-width-6: 32rem;
		--max-width-7: 48rem;
		--max-width-8: 64rem;
		--max-width-9: 96rem;
		--border-radius-none: 0;
		--border-radius-1: 0.125rem;
		--border-radius-2: 0.25rem;
		--border-radius-3: 0.5rem;
		--border-radius-4: 1rem;
		--border-radius-circle: 100%;
		--border-radius-pill: 9999px;
		--border-width-none: 0;
		--border-width-1: 0.125rem;
		--border-width-2: 0.25rem;
		--border-width-3: 0.5rem;
		--border-width-4: 1rem;
		--border-width-5: 2rem;
		--box-shadow-1: 0 0 8px 1px rgba(0, 0, 0, 0.1);
		--box-shadow-2: 0 0 12px 0 rgba(0, 0, 0, 0.1);
		--box-shadow-3: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
		--box-shadow-4: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
		--box-shadow-5: 0 4px 12px 0 rgba(0, 0, 0, 0.2);

		--black: #000;
		--white: #fff;
		--near-black: #1c1c1c;
		--dark-gray: #454545;
		--mid-gray: #6e6e6e;
		--moon-gray: #c4c4c4;
		--light-gray: #e2e2e2;
		--near-white: #f5f5f5;
		--gray: #929292;
		--silver: #e8e8e8;
		--light-silver: #efefef;
		--transparent: transparent;
		--black-90: #16191d;
		--black-80: #2c313a;
		--black-70: #434a56;
		--black-60: #596373;
		--black-50: #6f7c90;
		--black-40: #8c96a6;
		--black-30: #a9b0bc;
		--black-20: #c5cad3;
		--black-10: #e2e5e9;
		--black-05: rgba(0, 0, 0, 0.05);
		--black-025: rgba(0, 0, 0, 0.025);
		--black-0125: rgba(0, 0, 0, 0.013);
		--white-90: hsla(0, 0%, 100%, 0.9);
		--white-80: hsla(0, 0%, 100%, 0.8);
		--white-70: hsla(0, 0%, 100%, 0.7);
		--white-60: hsla(0, 0%, 100%, 0.6);
		--white-50: hsla(0, 0%, 100%, 0.5);
		--white-40: hsla(0, 0%, 100%, 0.4);
		--white-30: hsla(0, 0%, 100%, 0.3);
		--white-20: hsla(0, 0%, 100%, 0.2);
		--white-10: hsla(0, 0%, 100%, 0.1);
		--white-05: hsla(0, 0%, 100%, 0.05);
		--white-025: hsla(0, 0%, 100%, 0.025);
		--white-0125: hsla(0, 0%, 100%, 0.013);
		--dark-red: #d14040;
		--red: #e14747;
		--light-red: #e84e4e;
		--lightest-red: #ffcece;
		--washed-red: #feefef;
		--orange: #ff6300;
		--gold: #d39817;
		--yellow: #eac13b;
		--light-yellow: #ebc855;
		--lightest-yellow: #f6edcc;
		--washed-yellow: #fbf9f1;
		--purple: #5e2ca5;
		--light-purple: #a463f2;
		--dark-pink: #d5008f;
		--hot-pink: #ff41b4;
		--pink: #ff80cc;
		--light-pink: #ffa3d7;
		--dark-green: #257d54;
		--green: #2f9666;
		--light-green: #38a070;
		--lightest-green: #c5e4d6;
		--washed-green: #ecfbf5;
		--navy: #001b44;
		--dark-blue: #2b50b0;
		--blue: #3b5fc0;
		--light-blue: #4269d0;
		--lightest-blue: #6384dd;
		--washed-blue: #97bbf4;
		--faint-blue: #dae4ff;
	}
	* {
		box-sizing: border-box;
	}
</style>
